<h1>Step into The Light and race!</h1>
<form action='/game' method='POST'>
  <input type="text" placeholder="Enter Player 1 Name" name="player_1">
  <input type="text" placeholder="Enter Player 2 Name" name="player_2">
  <input type="submit" value="GO RACE BRO!">
</form>
<% if @message %>
  <%= @message %>
<% end %>
